<!-- MATERIALIZE CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="none" onload="if(media!=='all')media='all'"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Red+Hat+Text" media="none" onload="if(media!=='all')media='all'"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" media="none" onload="if(media!=='all')media='all'"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="none" onload="if(media!=='all')media='all'"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer="1"></script>

<!-- CUSTOM CSS -->
<link rel="stylesheet" href="/assets/styles.css" media="none" onload="if(media!=='all')media='all'"/>
<script src="/assets/scripts.js" defer="1"></script>