<!-- MATERIALIZE CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Red+Hat+Text">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer="1"></script>

<!-- CUSTOM CSS -->
<link rel="stylesheet" href="/assets/styles.css" >
<script src="/assets/scripts.js" defer="1"></script>