<!-- DESKTOP MENU -->
<div class="navbar-fixed no-print">
<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img src="/images/logo-background-white-horizontal.png" alt="{{ site.title }}" title="Página Inicial">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% for page in site.pages %}
            {% if page.menu %}
            <li><a href="{{ page.url }}">{{ page.title }} </a></li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>
</div>

<!-- MOBILE MENU -->
<ul class="sidenav" id="mobile-demo">
    <!-- PADRÃO -->
    <li><a href="/"><i class="material-icons">home</i>Pagina inicial</a></li>
    <li><a href="/contato" target="_blank"><i class="material-icons">arrow_forward</i>Contato</a></li>
    <li><a href="{{ site.instagram }}" target="_blank"><i class="material-icons">arrow_forward</i>Instagram</a></li>
    <!-- PAGINAS -->
    {% for page in site.pages %}
    {% if page.menu_mobile %}
    <li><a href="{{ page.url }}"><i class="material-icons">arrow_forward</i>{{ page.title }}</a></li>
    {% endif %}
    {% endfor %}
    <!-- CATALAGO -->
    {% assign pages_order = site.pages | sort:"order" %}
    {% for catalago in pages_order %} 
    {% if catalago.filter %}
    <li>
        <a href="{{ catalago.url }}"><i class="material-icons">{{ catalago.icon }}</i>
        {% if catalago.title_min %}
        {{ catalago.title_min }}
        {% else %}
        {{ catalago.title }}
        {% endif %}
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>