<!-- DESKTOP MENU -->
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% for page in site.pages %}
        {% if page.menu %}
        <li><a href="{{ page.url }}">{{ page.title }} </a></li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
</nav>

<!-- MOBILE MENU -->
<ul class="sidenav" id="mobile-demo">
    <!-- PADRÃO -->
    <li><a href="/"><i class="material-icons">home</i>Pagina inicial</a></li>
    <li><a href="{{ site.instagram }}" target="_blank"><i class="material-icons">thumb_up</i>Instagram</a></li>
    <!-- PAGINAS -->
    {% for page in site.pages %}
    {% if page.menu %}
    <li><a href="{{ page.url }}"><i class="material-icons">arrow_forward</i>{{ page.title }}</a></li>
    {% endif %}
    {% endfor %}
</ul>