<div class="row valign-wrapper">
    <div class="col s5 m4 l3 xl2">
        <img src="{{ include.product.image }}" width="100%" title="{{ include.product.title }}"/>
    </div>
    <div class="col s7 m8 l9 xl10">
        <a href="{{ include.product.url }}"><h4>{{ include.product.title }}</h4></a>
        <p>{{ include.product.description }}</p>
    </div>
</div>