<!-- IMPORT HCAPTCHA @since 21/9/2021 -->
<script async>
document.addEventListener('DOMContentLoaded', () => {
    const scriptElement=document.createElement('script');
    scriptElement.type = 'text/javascript';
    scriptElement.src = 'https://js.hcaptcha.com/1/api.js'
    document.head.appendChild(scriptElement);
});
</script>
<div class="center-align">
    <div 
        class="h-captcha"
        data-sitekey="{{ site.api_recaptcha }}">
    </div>
</div>
<br/>
