<!-- IMPORT RECAPTCHA V2 -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="center-align">
    <div 
        class="g-recaptcha"
        data-sitekey="{{ site.api_recaptcha }}"
        style="transform-origin:0 0;display: inline-block;">
    </div>
</div>
<br/>