nav {
    height: 80px;
    background-color: white;
}

nav .container {
    height: 70px;
}

nav img {
    height: 100%;
}

nav #nav-mobile {
    height: 70px;
    line-height: 70px;
}

nav .brand-logo {
    height: 40px;
    margin-top: 10px;
}

nav a {
    color: #094679 !important;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 400;
}

nav::after {
    display: inline-block;
    background: linear-gradient(to right, #6c42f4 25%,#393dd2 25%, #393dd2 50%, #378fd3 50%, #378fd3 75%, #0ebbcb 75%);
    content: "Rodrigo Dornelles Soluções Tecnólogicas";
    color: rgba(0,0,0,0);
    width: 100%;
    height: 10px;
}

@media only screen and (max-width: 992px)
{
    nav {
        height: 74px;
    }
    
    nav .container {
        height: 51px;
    }
    
    nav #nav-mobile {
        height: 51px;
        line-height: 51px;
    }
}

@media only screen and (max-width: 600px)
{
    nav {
        height: 66px;
    }

    nav img {
        width: auto;
        height: 32px;
        padding-bottom: 5px;
    }
}

/******************************************/

hr {
    margin: 32px auto;
    border: 2px solid #0ebbcb;
    border-radius: 10px;
    width:90%
}

@media only screen and (min-width: 601px){hr{width:85%;}}
@media only screen and (min-width: 993px){hr{width:70%}}

img[alt$=">"] {
    float: right;
    margin-left: 20px;
    max-width: 50%;
}

img[alt$="<"] {
    float: left;
    margin-right: 20px;
    max-width: 50%;
}

img[alt$="><"] {
    display: block;
    max-width: 50vmax;
    height: auto;
    margin: auto;
    float: none!important;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Red Hat Text', sans-serif;
}

h1 {font-size: 11.4vmin;}
h2 {font-size: 7.7vmin;}
h3 {font-size: 5.7vmin;}
h4 {font-size: 4.4vmin;}
h5 {font-size: 3.8vmin;}
h6 {font-size: 3.1vmin;}

p {
    text-align: justify;
    font-size: 2.8vmin;
}

main {
    flex: 1 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;
    font-family: "Roboto";
}

/******************************************/

.waves-effect.waves-blue .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: rgba(14, 187, 203, 0.65);
}

.parallax-container {
    height: 400px!important;
}

.carousel-max .carousel-item {
    width:100% !important;
}

@media only screen and (max-width: 601px){.container-only-small {margin: 0 auto;max-width: 1280px;width: 90%;}}
@media only screen and (min-width: 601px){.container-on-med-and-up{margin: 0 auto;max-width: 1280px;width:85%}}
@media only screen and (min-width: 993px){.container-on-med-and-up{width:70%}}