<!DOCTYPE html>
<html lang="{{ site.locale }}">
    <head>
       {% include head.rhtml %}
       {% seo %}
    </head>
    <body>
        {% include header.rhtml %}
        <main class="container" style="margin: 10px auto;max-width: 600px; text-align: center;">
            <h3> EM CONSTRUÇÃO </h3>
            <p>
                está pagina ainda não foi terminada, o site ainda se encontra em desenvolvimento.
                obrigado pela compreenção!
            </p>
        </main>
        {% include footer.rhtml %}
        {% include dependencies.rhtml %}
    </body>
</html>